    /* Media query for small devices (e.g., phones) */
    @media (max-width: 576px) {
        .data-title {
          font-size: 24px;
        }
  
        .line-text {
          font-size: 16px;
        }
      }
  
      /* Media query for medium devices (e.g., tablets) */
      @media (min-width: 577px) and (max-width: 991px) {
        .data-title {
          font-size: 28px;
        }
  
        .line-text {
          font-size: 17px;
        }
      }
  
      /* Media query for large devices (e.g., desktops) */
      .banner {
        max-width: 100%;
        height: auto;
      }
      .secOne{
       padding-top: 100px;
       padding-bottom: 130px;
      }
  .sec_dummy{
background-color: #bffeff;
  }
  .sec_dummy svg{
    margin-top: -100px;
  }