    /* Media query for small devices (e.g., phones) */

    
    

@font-face {
  font-family: 'GalanoGrotesque-SemiBold';
  src: url('galano-grotesque-font/GalanoGrotesque-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GalanoGrotesque-Medium';
  src: url('galano-grotesque-font/GalanoGrotesque-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoGrotesqueAlt-Medium';
  src: url('galano-grotesque-font/GalanoGrotesqueAlt-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesqueAlt-Regular';
  src: url('galano-grotesque-font/GalanoGrotesqueAlt-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
    @media (max-width: 576px) {
      .data-title {
        font-size: 24px;
      }

      .line-text {
        font-size: 16px;
      }

      .block {
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        align-items: center;
      }

      .One {
        margin-top: 30px !important;

      }

      .Two {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
      }

      #pagination {
        display: none;
      }

    }

    @media (min-width: 778px) {

      .second_center {
        display: flex !important;
        justify-content: center !important;
        /* Center horizontally */
        align-items: center !important;
        /* Center vertically */
        height: 100vh !important;
        /* Make the section fill the viewport height */
      }
      .contform{
        width: 0px !important;
        height: 0px !important;
        
      }

    }
    /* Media query for medium devices (e.g., tablets) */
    @media (min-width: 577px) and (max-width: 991px) {
      .data-title {
        font-size: 28px;
      }

      .line-text {
        font-size: 17px;
      }

      .One {
        margin-top: 30px !important;

      }

      .Two {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
      }

    }

    /* Media query for large devices (e.g., desktops) */

    .secOne {
      padding-bottom: 220px;
    }

    .secOne h2 {
      font-size: 37px;
      font-family: GalanoGrotesque-SemiBold, sans-serif;
    }

    .secOne p {
      font-size: 19px;
    }

    .animated_path {
      animation: bumpAnimation 1s cubic-bezier(0.68, 0.55, 0.265, 1.55) infinite;

    }



    @keyframes bumpAnimation {
      0% {
        d: path("M0 160 C384 60 1536 60 1920 160");
      }

      25% {
        d: path("M0 160 C384 40 1536 40 1920 160");
      }

      50% {
        d: path("M0 160 C384 100 1536 100 1920 160");
      }

      75% {
        d: path("M0 160 C384 60 1536 60 1920 160");
      }

      100% {
        d: path("M0 160 C384 60 1536 60 1920 160");
      }
    }

    .sliderMain h3 {
      border: 1px solid rgb(180, 177, 177);
      background-color: #fffdf6;
      font-family: GalanoGrotesqueAlt-Medium, sans-serif;
      font-weight: 600;
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .slide_card {

      cursor: pointer;
      background-color: #ddffc2;
      /* box-shadow: 0 10px 50px -5px rgba(46, 71, 93, 0.12) !important; */

    }

    .sliderMain a {
      margin-top: 1rem;
      font-family: GalanoGrotesque-Medium, sans-serif;
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: black;
    }

    .slide_hov:hover a {
      text-decoration: underline;
    }

    .slide_hov:hover {

      -webkit-transform: translateY(-32px);
      -webkit-transition: .5s cubic-bezier(1, -1.34, .36, 1);
      transition: .5s ease-in-out;
    }

    .slide_hov {
      cursor: pointer;
      -webkit-transform: translateY(0px);
      transition: .5s;
    }

    .slide_hov .learn_more {
      text-decoration: none !important;
      font-family: GalanoGrotesque-SemiBold, sans-serif;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.5rem;
      overflow: hidden;
    }

    .headline3 {
      margin-top: 10px;
      margin-bottom: 50px;
      font-family: GalanoGrotesque-SemiBold, sans-serif;
      font-weight: 500;
      font-size: 1.555rem;
      line-height: 1.5rem;

    }

    .steps a {
      padding-right: 10px;
      display: block;
      background-color: #fff59b;
      color: #1a1a1a;
      font-size: 13px;
      text-align: center;
      border-right: 1px solid #672114;
      border-radius: 5px;
    }

    .steps a:last-child {
      border: none;
    }

    .tabContainer {
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      position: relative;
    }

    .Tabcondent {
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      line-height: 150px;
      opacity: 0;
      border-radius: 32px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all ease-in-out 0.3s;
      /* display:none; */


    }

    .steps a.active {
      background-color: #bffeff;
    }

    .Tabcondent.active {
      width: 100%;
      height: 100%;
      opacity: 1;
      border-radius: 0px;
      transition: all ease-in-out 0.6s;
      margin: 0 auto;

      /* display:block */
    }

    .Tabcondent video {

      margin-top: 50px;
      width: 980px;
      padding: 20px;
      border-radius: 5px;
      background-color: #fffdf6;
    }

    .steps img {
      width: 75px;
    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
    }

    .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .sec_three {
      width: 100%;
      background-color: #fffdf6;
      padding: 8.5rem 1rem !important;
    }

    .banner_img img {
      width: 415px;
    }

    .header_two {
      background-color: #fff59b !important;
    }

    .box {
      padding: 5px;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #bffeff;
      /* padding: 10px; */
      width: 260px !important;
      position: relative;
      overflow: hidden;
      transition: .5s !important;
      box-shadow: 0 10px 50px -5px rgba(46, 71, 93, 0.12) !important;
    }

    .text-center {
      cursor: pointer;
    }

    .hover-content {
      font-size: 19px !important;
      font-weight: 500 !important;
      font-family: GalanoGrotesqueAlt-Medium, sans-serif;
    }

    .box p {
      font-weight: bold;
    }

    .line-stepper-container {
      position: relative;
      height: 2px;
      background-color: #1a1a1a;
      /* Change this to your desired line color */
    }

    .line-stepper {
      position: absolute;
      top: -5px;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #1a1a1a;
      background-color: #fff59b;
      /* Change this to your desired circle color */
      transition: left 1s ease-in-out;
    }

    /* Add this style to apply the cool animation to the image background color change */
    .img-thumbnail {
      transition: background-color 0.5s ease-in-out;
      /* Change the timing to adjust the animation */
      box-shadow: none;
      /* Reset the box shadow for all images */
      object-fit: cover;
    }

    /* Add this style to align the image info (heading and paragraph) under the image */
    .image-info {
      text-align: center;

      /* Add transition for opacity with 1-second duration */
      transition: opacity 1s ease-in-out;
      /* Set the initial opacity to 0 to hide .image-info */
      opacity: 0;
    }

    .process_one {
      margin-top: 22px;
    }

    .process_three {
      margin-top: 22px;
    }

    .our_process h3 {
      margin-top: 30px;
      font-size: 19px;
      font-weight: 600;
      text-align: start;
    }

    .process_list {
      font-size: 15px;
      text-align: start;
      list-style: none;
    }

    .sec_green {
      background-color: #ddffc2;
    }

    /* Styles for small screen sizes (screen width below 1000px) */
    @media screen and (max-width: 999px) {


      .line-stepper-container {
        /* Hide the line stepper container on small screens */
        display: none !important;
      }
.our_process{
  display: grid;
  grid-template-rows: 1fr;
  align-content: center;
    justify-content: center;
}


    }

    /* Styles for small screen sizes (screen width below 1000px) */
    @media screen and (max-width: 1400px) {
      .process_three {
        margin-top: 22px;
      }
      .process_four{
        margin-top: 22px;
      }

    }

    .audio_source img {
      width: 500px;
    }

    .card-img-audio {
      width: 100%;
      height: auto;
      max-width: 40rem;
    }

    .our_process_head {
      font-size: 31px !important;
      font-weight: 600 !important;
      font-family: GalanoGrotesqueAlt-Medium, sans-serif;
    }

    .head_green {
      background-color: #ddffc2 !important;
    }

    .header_pink {
      background-color: #ffdeac !important;
    }

    .sec_yellow {
      background-color: #fff59b !important;
    }

    .svg_bump2 {
      display: block !important;
    }

    .second {
      position: relative;
    }

    .card-img-audio {
      width: 400px;
    }

    /* Variable Definitions */
    :root {
      --base-color: #334242;
      --degrees: 5deg;
    }

    /* General Styles */
    .main section {
      margin: 0;
      height: 100vh;
    }

    .main section:nth-child(1) {
      background-color: lighten(var(--base-color), calc(var(--degrees) * 1));
    }

    .main section:nth-child(2) {
      background-color: lighten(var(--base-color), calc(var(--degrees) * 2));
    }

    .main section:nth-child(3) {
      background-color: lighten(var(--base-color), calc(var(--degrees) * 3));
    }

    .main section:nth-child(4) {
      background-color: lighten(var(--base-color), calc(var(--degrees) * 4));
    }

    .main section:nth-child(5) {
      background-color: lighten(var(--base-color), calc(var(--degrees) * 5));
    }

    .main section.section-black {
      background-color: #000;
      /* Set the background color of sections with class "section-black" to black */
    }

    .main h1 {
      font-size: 38px;
      color: #fff;
      margin: 0;
      padding: 50px 0 20px;
      text-align: center;
    }

    #pagination {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      list-style: none;
      z-index: 1000;
    }

    #pagination li {
      position: relative;
      margin: 20px 0;
      background: #fff;
      border: 1px solid #1a1a1a;
      border-radius: 100%;
      width: 9px;
      height: 9px;
      transition: all .2s ease;
    }

    #pagination li:hover {
      transform: scale(1.5);
    }

    #pagination a {
      position: absolute;
      text-decoration: none;
      left: 0;
      top: 0;
      color: inherit;
      width: 100%;
      height: 100%;
    }

    /* Additional Styles for Different Pages */
    body.page-1 #pagination li:nth-of-type(1),
    body.page-2 #pagination li:nth-of-type(2),
    body.page-3 #pagination li:nth-of-type(3),
    body.page-4 #pagination li:nth-of-type(4),
    body.page-5 #pagination li:nth-of-type(5) {
      transform: scale(2);
      background-color: yellow;
    }

    /* Change background color of pagination items to white when touching a "section-black" */
    body.page-1 .section-black~#pagination li:nth-of-type(1),
    body.page-2 .section-black~#pagination li:nth-of-type(2),
    body.page-3 .section-black~#pagination li:nth-of-type(3),
    body.page-4 .section-black~#pagination li:nth-of-type(4),
    body.page-5 .section-black~#pagination li:nth-of-type(5) {
      background-color: #fff;
    }

    #pagination li a.active {
      background-color: yellow;
      /* Set the background color for the active state */
    }
    /* .banner_svg{
      transform: translate(659px, -141px);
      width: 118%;
      float: right;
      rotate: revert;
      overflow: hidden;
    } */

    
  .dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    padding: 10px;
  }

  .dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
  }

  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }

.background {
    display: flex;
    min-height: 70vh;
  }
  
  .container-cont {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  @keyframes bounce-up-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
    animation: bounce-up-down 1s ease-in-out infinite;
    animation-delay: 0.13s; /* Delay for the second button */
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
    animation: bounce-up-down 1s ease-in-out infinite;
    animation-delay: 0.33s; /* Delay for the second button */
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
    animation: bounce-up-down 1s ease-in-out infinite;
    animation-delay: 0.53s; /* Delay for the third button */
  }
  
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    background-color: #fffdf6;
    border-bottom-left-radius: 15px !important;
  }
  
  .app-title {
    display: flex; 
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-family: GalanoGrotesqueAlt-Regular, sans-serif;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 15px;
    color: #888;
    font-family: GalanoGrotesqueAlt-Regular, sans-serif;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #1a1a1a;
    font-size: 14px;
    text-transform: uppercase;
    font-family: GalanoGrotesqueAlt-Medium, sans-serif;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ea2170;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none; 
    font-family: GalanoGrotesque-SemiBold, sans-serif;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
      background-color: #fffdf6;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  .screen-body-item{
   
    background-color: #fffdf6;
  }
 
  
  @media screen and (min-width: 800px) {
    .contform{
      width: 600px !important;
      height: 450px !important;
      border-bottom-right-radius: 15px !important;
    }
    .form_one{
      width: 360px;
    }
  }
  .contform{
    border-bottom-right-radius: 15px !important;
  }

  /* use_cases */
  .card_us {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content_us {
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content_us .heading_us {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content_us .para_us {
    text-align: justify;
    font-family: GalanoGrotesqueAlt-Regular, sans-serif !important;
  }
  
  .content_us .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .us_hr_1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #ffdeac !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .us_hr_1:hover::before {
    height: 100%;
  }
  
  .us_hr_1:hover {
    box-shadow: none;
  }
    
  .us_hr_2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #bffeff !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .us_hr_2:hover::before {
    height: 100%;
  }
  
  .us_hr_2:hover {
    box-shadow: none;
  }
    
  .us_hr_3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #ddffc2 !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .us_hr_3:hover::before {
    height: 100%;
  }
  
  .us_hr_3:hover {
    box-shadow: none;
  }
    
  .us_hr_4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #fff59b !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .us_hr_4:hover::before {
    height: 100%;
  }
  
  .us_hr_4:hover {
    box-shadow: none;
  }
    
  .us_hr_5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #bffeff !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .us_hr_5:hover::before {
    height: 100%;
  }
  
  .us_hr_5:hover {
    box-shadow: none;
  }
    
  .us_hr_6::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #ffdeac !important;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .us_hr_6:hover::before {
    height: 100%;
  }
  
  .us_hr_6:hover {
    box-shadow: none;
  }
  
  .card_us:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content_us .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content_us .btn:active {
    box-shadow: none;
  }
  
.img_us{
  width: 300px;
}
.content_us .headline3{
  margin-bottom: 1rem;
}
.card_us{
  background-color: #fffdf6;
}
.img_us_1{
  background-color: #ffdeac;
  border-radius: 10px;
}
.img_us_2{
  background-color: #bffeff;
  border-radius: 10px;
}
.img_us_3{
  background-color: #ddffc2;
  border-radius: 10px;
}
.img_us_4{
  background-color: #fff59b;
  border-radius: 10px;
}
.img_us_5{
  background-color: #bffeff;
  border-radius: 10px;
}
.img_us_6{
  background-color: #ffdeac;
  border-radius: 10px;
}
.card_us p{
  color: #1a1a1a !important;
  margin-top: 20px;
}